*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.price{
    max-width: 1510px;
}
.container{
    max-width: 1170px; 
}
.bloc_title{
    display: flex;
width: 1170px;
height: 45px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
margin: 0 auto 0;

text-align: center;
font-family: Raleway;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.bloc__pal{
    width: 170px;
height: 1px;
background: #EC7979;
margin:40px auto 0;
}
.bloc_name{
    width: 1169px;
    color: #86878B;
text-align: center;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin:40px auto 0;
}
.block_el{
width: 371px;
display: flex;
text-align: center;
}
.imagine{
    width: 92px;
height: 92px;
flex-shrink: 0;
margin-top: 92px;
}
.name{
    display: flex;
width: 369px;
height: 33px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;

text-align: center;
font-family: "Open Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: capitalize;
}
.surename{
    width: 371px;
    color: #000;

    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}
.name_{
    display: flex;
    width: 369px;
    height: 33px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
   margin-left: 28px;
   margin-right: 31px;
}
.surname_{
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
width: 371px;
margin-left: 28px;
margin-right: 27px;
}
